In [1]:
import pandas as pd
import re
from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta
import os
import numpy as np

In [2]:
def when(x):   
    p = re.compile('(\d+)')
    delta = -int(p.findall(x)[0])
    if "초" in x:
        result = timedelta(seconds = delta)
        
    elif "분" in x:
        result = timedelta(minutes = delta)
        
    elif "시간" in x:
        result = timedelta(hours = delta)
     
    elif "일" in x:
        result = timedelta(days = delta)
        
    elif "달" in x:
        result = relativedelta(months = delta)
        
    elif "년" in x:
        result = relativedelta(years = delta)

    return the_date + result

In [27]:
# 폴더 내 리스트 뽑기 
folder_name = 'data_gu'
file_names = os.listdir(folder_name)
file_names

['carrot_list_Seoul_선물세트_2021-09-25 140524.xlsx',
 'carrot_list_Seoul_선물세트_2021-09-26 215804.xlsx',
 'carrot_list_강북구_선물세트_2021-09-28 222108.xlsx',
 'carrot_list_강북구_선물세트_2021-09-29 101901.xlsx',
 'carrot_list_강북구_선물세트_2021-09-30 100752.xlsx',
 'carrot_list_강북구_선물세트_2021-10-01 101937.xlsx',
 'carrot_list_강북구_선물세트_2021-10-03 102959.xlsx',
 'carrot_list_강북구_선물세트_2021-10-04 102807.xlsx',
 'carrot_list_광진구_선물세트_2021-09-28 220839.xlsx',
 'carrot_list_광진구_선물세트_2021-09-29 101453.xlsx',
 'carrot_list_광진구_선물세트_2021-09-30 100654.xlsx',
 'carrot_list_광진구_선물세트_2021-10-01 101533.xlsx',
 'carrot_list_광진구_선물세트_2021-10-03 102333.xlsx',
 'carrot_list_광진구_선물세트_2021-10-04 102359.xlsx',
 'carrot_list_도봉구_선물세트_2021-09-28 222423.xlsx',
 'carrot_list_도봉구_선물세트_2021-09-29 102004.xlsx',
 'carrot_list_도봉구_선물세트_2021-09-30 100910.xlsx',
 'carrot_list_도봉구_선물세트_2021-10-01 102040.xlsx',
 'carrot_list_도봉구_선물세트_2021-10-03 103135.xlsx',
 'carrot_list_도봉구_선물세트_2021-10-04 102909.xlsx',
 'carrot_list_동대문구_선물세트_2021-09-28 221149.xlsx',
 'carrot_list_동대문구_선물세트_2021-09-29 101556.xlsx',
 'carrot_list_동대문구_선물세트_2021-09-30 100349.xlsx',
 'carrot_list_동대문구_선물세트_2021-10-01 101635.xlsx',
 'carrot_list_동대문구_선물세트_2021-10-03 102509.xlsx',
 'carrot_list_동대문구_선물세트_2021-10-04 102502.xlsx',
 'carrot_list_서울_선물세트_2021-09-27 221436.xlsx',
 'carrot_list_성동구_선물세트_2021-09-28 220534.xlsx',
 'carrot_list_성동구_선물세트_2021-09-29 101353.xlsx',
 'carrot_list_성동구_선물세트_2021-09-30 100532.xlsx',
 'carrot_list_성동구_선물세트_2021-10-01 101432.xlsx',
 'carrot_list_성동구_선물세트_2021-10-03 102158.xlsx',
 'carrot_list_성동구_선물세트_2021-10-04 102258.xlsx',
 'carrot_list_성북구_선물세트_2021-09-28 221757.xlsx',
 'carrot_list_성북구_선물세트_2021-09-29 101759.xlsx',
 'carrot_list_성북구_선물세트_2021-09-30 100636.xlsx',
 'carrot_list_성북구_선물세트_2021-10-01 101835.xlsx',
 'carrot_list_성북구_선물세트_2021-10-03 102823.xlsx',
 'carrot_list_성북구_선물세트_2021-10-04 102710.xlsx',
 'carrot_list_영등포구_선물세트_2021-09-27 170401.xlsx',
 'carrot_list_용산구_선물세트_2021-09-28 220229.xlsx',
 'carrot_list_용산구_선물세트_2021-09-29 101250.xlsx',
 'carrot_list_용산구_선물세트_2021-09-30 100410.xlsx',
 'carrot_list_용산구_선물세트_2021-10-01 101328.xlsx',
 'carrot_list_용산구_선물세트_2021-10-03 102026.xlsx',
 'carrot_list_용산구_선물세트_2021-10-04 102157.xlsx',
 'carrot_list_종로구_선물세트_2021-09-28 215816.xlsx',
 'carrot_list_종로구_선물세트_2021-09-29 101046.xlsx',
 'carrot_list_종로구_선물세트_2021-09-30 100127.xlsx',
 'carrot_list_종로구_선물세트_2021-10-01 101121.xlsx',
 'carrot_list_종로구_선물세트_2021-10-03 101729.xlsx',
 'carrot_list_종로구_선물세트_2021-10-04 101954.xlsx',
 'carrot_list_중구_선물세트_2021-09-28 220007.xlsx',
 'carrot_list_중구_선물세트_2021-09-29 101148.xlsx',
 'carrot_list_중구_선물세트_2021-09-30 100251.xlsx',
 'carrot_list_중구_선물세트_2021-10-01 101226.xlsx',
 'carrot_list_중구_선물세트_2021-10-03 101905.xlsx',
 'carrot_list_중구_선물세트_2021-10-04 102057.xlsx',
 'carrot_list_중랑구_선물세트_2021-09-28 221450.xlsx',
 'carrot_list_중랑구_선물세트_2021-09-29 101657.xlsx',
 'carrot_list_중랑구_선물세트_2021-09-30 100516.xlsx',
 'carrot_list_중랑구_선물세트_2021-10-01 101736.xlsx',
 'carrot_list_중랑구_선물세트_2021-10-03 102648.xlsx',
 'carrot_list_중랑구_선물세트_2021-10-04 102606.xlsx']

In [28]:
# upload_date : 수집 당시 datetime을 기준으로 추적한 업로드 datetime
# the_date : 수집 당시 datetime
# the_date_ymd : 기준 날짜는 date만 추출 
# reup : 끌올여부 (끌올: 1 , no끌올: 0)
# region_gu : 구 추출 

total = pd.DataFrame()

for file_name in file_names:
    file_date = file_name[-22:-5]

    year = int(file_date[0:4])
    month = int(file_date[5:7])
    day = int(file_date[8:10])
    hour = int(file_date[11:13])
    minute = int(file_date[13:15])
    second = int(file_date[15:17])
    
    the_date = datetime(year, month, day, hour, minute, second)
    
    df = pd.read_excel(f'./{folder_name}/'+file_name)
    df = df[df.time.str.contains("초|분|시간")]
    df['upload_date'] = df['time'].apply(when)   
    # df['upload_ym_date'] = df['upload_date'].dt.strftime('%Y-%m') 
    df['the_date'] = the_date
    total = total.append(df)
    print(len(total))
    
total['the_date_ymd'] = total['the_date'].dt.date
total["reup"] = np.where(total['time'].str.contains("끌올"), 1, 0)
total['region_gu'] = total.region.str.extract(r"(\w+구)")
total

649
1058
1083
1100
1123
1144
1166
1184
1205
1227
1254
1279
1299
1319
1333
1353
1373
1388
1408
1436
1453
1470
1493
1510
1528
1550
1990
2024
2055
2069
2078
2100
2117
2142
2170
2186
2202
2222
2240
2315
2330
2342
2364
2378
2398
2415
2436
2453
2477
2500
2510
2534
2551
2565
2584
2611
2634
2657
2677
2696
2723
2744
2759
2779

,num,region,title,category,time,price,detail,interest,chat,view,upload_date,the_date,the_date_ymd,reup,region_gu
1,287938392,은평구 갈현동,동원 튜나리챔100호 선물세트,생활/가공식품,끌올 17시간 전,29000,오만원대로 팔리고 있는 동원 튜나리챔100호\n저렴한 가격으로 데려가세요~!\n미개...,5,1,217,2021-09-24 21:05:24,2021-09-25 14:05:24,2021-09-25,1,은평구
8,290117446,송파구 잠실동,선물세트 동원튜나리챔100호 판매합니다,생활/가공식품,17시간 전,20000,선물세트 동원 튜나리챔 100호 판매합니다\n잠실새내 직거래 원합니다,3,1,77,2021-09-24 21:05:24,2021-09-25 14:05:24,2021-09-25,0,송파구
38,289976360,중랑구 면목동,선물세트 팝니다,생활/가공식품,22시간 전,7000,세트 들어온것 중 필요없는것만 팔아봅니다.,1,1,37,2021-09-24 16:05:24,2021-09-25 14:05:24,2021-09-25,0,중랑구
40,286553712,강동구 천호제3동,청정원 종합2호 선물세트 빠른처분합니다,생활/가공식품,끌올 3시간 전,21000,청정원 종합2호 선물세트 쿨거래환영 많은관심주세요 문의주세요,6,2,448,2021-09-25 11:05:24,2021-09-25 14:05:24,2021-09-25,1,강동구
48,287920829,관악구 삼성동,히스앤헤더 유기농 티 선물세트 판매해요 :),생활/가공식품,끌올 21시간 전,14000,"히스앤헤더 유기농 티 선물세트에요. 유통기한은 22년 6월이고, 구성은 8종 40팩...",4,1,305,2021-09-24 17:05:24,2021-09-25 14:05:24,2021-09-25,1,관악구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,289449239,중랑구 상봉동,삼육김 종합선물세트 1호,생활/가공식품,끌올 7시간 전,20000,"삼육김 종합 선물세트 1호 새거입니다.\n정가 35,000원입니다.",5,1,276,2021-10-04 03:26:06,2021-10-04 10:26:06,2021-10-04,1,중랑구
178,294481609,중랑구 상봉동,(정품 새상품) 록시땅 핸드크림 립밤 선물세트,뷰티/미용,2시간 전,20000,(정품 새상품) 록시땅 핸드크림 립밤 선물세트,0,0,33,2021-10-04 08:26:06,2021-10-04 10:26:06,2021-10-04,0,중랑구
205,284609132,중랑구 면목제3.8동,(새상품)LG생활건강 선물세트 팝니다.,생활/가공식품,끌올 13시간 전,25000,LG생활건강 선물세트에요\n새상품입니다.\n사진 찍는다고 열어보고 꺼내 본게 다에요...,5,0,231,2021-10-03 21:26:06,2021-10-04 10:26:06,2021-10-04,1,중랑구
230,294312872,중랑구 상봉동,청정원 선물세트,생활/가공식품,15시간 전,15000,"청정원 선물세트 팔아요.\n참치, 기름 등 복합 선물세트입니다.\n15,000원에 ...",2,0,65,2021-10-03 19:26:06,2021-10-04 10:26:06,2021-10-04,0,중랑구
236,269346820,중랑구 면목제2동,새상품 )리빈코리아 커피백 4종선물세트 쇼핑백 포함 3만2천원 -> 1만 9천원,생활/가공식품,끌올 24시간 전,19000,• 에누리 문의 사절 ! 답변 안함. \n 찔러보기 하지마세요.,6,1,241,2021-10-03 10:26:06,2021-10-04 10:26:06,2021-10-04,1,중랑구

In [29]:
sub = total[['num', 'price', 'the_date_ymd']].drop_duplicates()
# sub.sort_values(by='price', ascending=False).drop_duplicates(subset=['num', 'the_date_ymd'], keep='last')
sub

           num  price the_date_ymd
1    287938392  29000   2021-09-25
8    290117446  20000   2021-09-25
38   289976360   7000   2021-09-25
40   286553712  21000   2021-09-25
48   287920829  14000   2021-09-25
..         ...    ...          ...
174  289449239  20000   2021-10-04
178  294481609  20000   2021-10-04
205  284609132  25000   2021-10-04
230  294312872  15000   2021-10-04
236  269346820  19000   2021-10-04

[2770 rows x 3 columns]

In [30]:
sub[['num', 'the_date_ymd']].value_counts().head(20)

num        the_date_ymd
127482010  2021-09-29      1
290214712  2021-09-27      1
290206369  2021-09-27      1
290207126  2021-09-25      1
290212072  2021-09-25      1
290212243  2021-09-25      1
290213017  2021-09-25      1
290214071  2021-09-25      1
290214450  2021-09-25      1
290214712  2021-09-25      1
290215469  2021-09-25      1
290205276  2021-09-30      1
290216649  2021-09-25      1
290217918  2021-09-25      1
290218394  2021-09-25      1
290222024  2021-09-25      1
290222737  2021-09-25      1
290225630  2021-09-25      1
290227820  2021-09-25      1
290228062  2021-09-25      1
dtype: int64

In [31]:
sub_pivot = sub.pivot(index='num', columns='the_date_ymd', values='price').fillna(0)
sub_pivot.head(50)

the_date_ymd,2021-09-25,2021-09-26,2021-09-27,2021-09-28,2021-09-29,2021-09-30,2021-10-01,2021-10-03,2021-10-04
num,,,,,,,,,
127482010,0.0,0.0,0.0,0.0,30000.0,0.0,0.0,0.0,0.0
127920313,0.0,0.0,0.0,40000.0,40000.0,0.0,0.0,0.0,0.0
136926347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23000.0,0.0
146581106,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,0.0,0.0
149341890,0.0,0.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0
152367338,0.0,18000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162014732,0.0,0.0,0.0,12000.0,0.0,0.0,0.0,0.0,0.0
163843756,0.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168538297,0.0,0.0,0.0,0.0,0.0,19000.0,0.0,0.0,0.0
172005074,0.0,0.0,9000.0,0.0,0.0,0.0,0.0,0.0,0.0
173056888,21000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173512980,20000.0,0.0,0.0,0.0,0.0,20000.0,0.0,0.0,0.0
181590002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43000.0
185031051,0.0,50000.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0
187844979,0.0,0.0,0.0,0.0,0.0,11500.0,0.0,0.0,11000.0
189205814,19000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189524936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,0.0
190556323,0.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190748622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18000.0,0.0
191656109,0.0,0.0,75000.0,0.0,0.0,0.0,0.0,0.0,0.0
193822675,0.0,0.0,0.0,0.0,0.0,9000.0,0.0,0.0,0.0
194509713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15000.0
195746741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14000.0
195940127,7000.0,0.0,0.0,0.0,0.0,7000.0,0.0,0.0,0.0
197515911,13000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198306556,18000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201019170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47000.0,0.0
202150871,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
202446802,0.0,0.0,0.0,10000.0,0.0,0.0,0.0,0.0,0.0
205220222,15000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
207030088,0.0,0.0,0.0,100000.0,0.0,0.0,0.0,0.0,0.0
211824238,0.0,0.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0
212120110,0.0,0.0,0.0,0.0,59000.0,0.0,0.0,0.0,0.0
212121439,0.0,0.0,0.0,0.0,67000.0,0.0,0.0,0.0,0.0
212132157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4500.0,0.0
212947535,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214102737,207000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214710145,0.0,0.0,0.0,0.0,0.0,22000.0,0.0,0.0,0.0
215548199,0.0,0.0,0.0,0.0,0.0,0.0,32000.0,0.0,0.0
215640900,0.0,0.0,2900000.0,0.0,0.0,0.0,0.0,0.0,0.0
215860563,0.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216475514,0.0,0.0,0.0,0.0,0.0,0.0,27000.0,0.0,0.0
217388641,0.0,0.0,0.0,16000.0,0.0,0.0,0.0,0.0,0.0
218255403,48000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218951698,0.0,23000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219661255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0
220333878,0.0,32000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220972623,39000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221217088,0.0,9000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221680480,0.0,0.0,0.0,80000.0,80000.0,0.0,0.0,0.0,0.0

In [112]:
sub_pivot['diff'] = sub_pivot.max(axis=1) - sub_pivot.min(axis=1)

In [26]:
total[total.num == 288560589  ]

,num,region,title,category,time,price,detail,interest,chat,view,upload_date,the_date,the_date_ymd,reup,region_gu
4796,288560589,은평구 진관동,교동한과 덩더쿵 선물 세트 (원가7만) 가격내림,생활/가공식품,끌올 2시간 전,45000,2층짜리 한과라 혼자 먹기엔 너무 많아서 판매해요😀\n원가 7만원입니다 부모님께 선...,2,1,231,2021-09-25 12:05:24,2021-09-25 14:05:24,2021-09-25,1,은평구
494,288560589,은평구 진관동,교동한과 덩더쿵 선물 세트 (원가7만) 가격내림,생활/가공식품,끌올 11시간 전,40000,2층짜리 한과라 혼자 먹기엔 너무 많아서 판매해요😀\n원가 7만원입니다 네고 더 이...,2,1,238,2021-09-25 11:51:15,2021-09-25 22:51:15,2021-09-25,1,은평구

In [16]:
total.groupby('num').title.count()

num
127482010    4
127920313    5
136926347    1
137579805    5
146581106    2
            ..
293994999    1
293999277    1
293999864    1
294016831    1
294033494    1
Name: title, Length: 2759, dtype: int64